<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <main>
        <div class="users">
            <% if (users.length > 0) { %>
                <h1>Users: </h1>
                <ul class="users__list">
                    <% for (let user of users) { %>
                        <li class="users__item"><%= user %></li>
                    <% } %>
                </ul>
            <% } else { %>
                <h1>Users Not Found</h1>
            <% } %>
        </div>
    </main>

<%- include('includes/end.ejs') %>
